body {
    margin: 0;
    font-family: "Segoe UI";
  }
  
  a {
    text-decoration: none;
  }

  .lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
  }
  
  .heading {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #212529; /* warnanya masih salah */ 
  }

  .lesson {
    float: left;
    width: 50px;
  }